body {
    background-color: black;
    color: white; /* Opcional: para alterar a cor do texto para branco */
}
/* @keyframes piscar {
    0% { background-color: red; }
    50% { background-color: white; }
    100% { background-color: rgb(255, 0, 234); }
} */
.botex{
    font-size: 100px;
    color: yellow;
    background-color: blue;
    animation: piscar 1s infinite;
}